<div class="container">
  <h2>Preguntas</h2>
  <%= link_to "Hacer Pregunta",new_question_path, class:"btn btn-primary pull-right" %>
  <table class="table">
  	<thead>
  	  <tr>
  	  	<th></th>
  	  	<th></th>
  	  	<th></th>
  	  </tr>
  	</thead>
  	<tbody>
  		<tr>
  		  <td>Primero</td>
  		  <td>Segund</td>
  		  <td>Tercero</td>
  		</tr>
  	</tbody>
  </table>
</div>