<div class="container">
  <h2>Preguntas</h2>
   <% user_signed_in? ? route = new_question_path : route = new_user_session_path %>
  <%= link_to "Hacer Pregunta",route, class:"btn btn-primary pull-right" %>
  <table class="table">
  	<thead>
  	  <tr>
  	  	<th></th>
  	  	<th></th>
  	  	<th></th>
  	  </tr>
  	</thead>
  	<tbody>
  		<tr>
  		  <td>Primero</td>
  		  <td>Segund</td>
  		  <td>Tercero</td>
  		</tr>
  	</tbody>
  </table>
</div>