small.small-description{
  color: #A4A4A4;
}


div.sub-container {
  margin-top: 40px;
}

div.sub-container  a{
  font-size: 25px;
}

div.sub-container  h3 {
   margin-top: 0;
}

div.description-sub-container {
   font-size: 16px;
}

.hand-color{
 color:#3B5998;
}
.hand{
 color:#AFB4BD;
}

hr{
 border-color:#E1E1E1;	
}

.responder{
 font-style: italic;
 font-size: 14px;
 padding-bottom: 10px;
}

div.panel-heading, div.panel-body{
 font-size: 14px;
}
