small.small-description{
  color: #A4A4A4;
}


div.question{
  margin-top: 40px;
}

div.question a{
  font-size: 30px;
}

div.question h3 {
   margin-top: 0;
}

div.description-question{
   font-size: 16px;
}

.hand-color{
 color:#3B5998;
}
.hand{
 color:#AFB4BD;
}

hr{
 color:#AFB4BD;	
}
